.mdc-card {
    padding: 2%;
    box-sizing: border-box;
    min-height: 500px;
  }
  
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  button {
    margin: 2px;
  }