<mat-card class="mdc-card">
    <mat-card-header>
      <div class="header-content">
        <h1>To do List</h1>
        <button (click)="FunctionAdd()" mat-raised-button color="primary">Add Task (+)</button>
      </div>
    </mat-card-header>
    <mat-card-content>
        <table mat-table [dataSource]="TodoList" class="mat-elevation-z8">
            <ng-
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row:column:displayedColumns"></tr>
        </table>
    </mat-card-content>
  </mat-card>