  .mdc-card {
    padding: 2%;
    box-sizing: border-box;
    min-height: 500px;
    z-index: 1;
    margin: 25px 0px;
  }
  
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  button {
    margin: 2px;
  }

  .table-content{
    margin: 15px 0px;
  }